html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(./src/img/bg.png);
}
.main {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 900px;
  height: 600px;
  align-items: center;
  background-color: white;
}

/* login */
.login-left {
  float: left;
  width: 500px;
  height: 600px;
}
.login-center {
  float: left;
  height: 600px;
}
.login-right {
  margin-left: 570px;
  height: 600px;
  width: 200px;
}
.border-line {
  width: 10px;
  height: 600px;
}

/* img */
.kid {
  background-image: url(./src/img/health.png);
  background-repeat:no-repeat; 
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  padding-top: 90px;
  margin-left: 50px;
  width: 100px;
  height: 110px;
}

.code {
  margin-bottom: 60px;
}

/* input */
.inp {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
}

.cleft {
  float: left;
  width: 180px;
  height: 100%;
}

.cright {
  margin-left: 200px;
  height: 100%;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}